<!DOCTYPE html>
<html>

<head>
    <title>Online Course Platform Admin UI</title>
    {% load static %}

    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/datatables.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery-ui.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/datatables.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/admin-script.js' %}" type="text/javascript" charset="utf-8"></script>

</head>

<body>
    <div id='editModal' class="modal">

        <div class="modal-content">
        <div class="modal-header">
                <label id="header" class="modal-label header" style="display:none"></label>
                <span class="close" onclick="closeModal('editModal')">&times;</span>
        </div>
                <input id="inputid" class="modal-input" style="display:none" value="">
                <input id="inputintent" class="modal-input" style="display:none" value="">
        <div class="form-group row">
                <label id="label1" class="modal-label"></label>
                <input id="input1" class="modal-input" type="text" name="newvalue" required>
            </div>
                <div class="form-group row">
                <label id="label2" class="modal-label"></label>
                <input id="input2" class="modal-input" type="text" name="newvalue" required>
            </div>
            <div class="form-group row">
                <label id="label3" class="modal-label"></label>
                <input id="input3" class="modal-input" type="text" name="newvalue" required>
            </div>
                <div class="form-group row">
                <label id="label4" class="modal-label"></label>
                <input id="input4" class="modal-input" type="text" name="newvalue" required>
            </div>
            <div class="form-group row">
                <label id="label5" class="modal-label"></label>
                <input id="input5" class="modal-input" type="text" name="newvalue" required>
            </div>
            <div class="form-group row">
                <label id="label6" class="modal-label"></label>
                <input id="input6" class="modal-input" type="text" name="newvalue" required>
            </div>
            <div class="form-group row">
                <label id="label7" class="modal-label"></label>
                <input id="input7" class="modal-input" type="text" name="newvalue" required>
            </div>
            <div class="form-group row">
                <label id="label8" class="modal-label"></label>
                <input id="input8" class="modal-input" type="text" name="newvalue" required>
            </div>

            <div class="modal-footer">
                <button id="dataChange" class="btn change" type="submit">Change</button>
                <button class="btn-close" onclick="closeModal('editModal')">Close</button>
            </div>
        </div>
    </div>



    <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div id="admin-panel" class="panel-body">
            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#personcollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>People</b>
                    </a>
                </p>
            </div>
            
            <div class="collapse" id="personcollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Person
                    </button>

                    <table id="personlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Birthdate</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Person Type</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#unicollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Universities</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="unicollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New University
                    </button>

                    <table id="unilist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#studentcollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Students</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="studentcollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Student
                    </button>

                    <table id="studentlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>University ID</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#lecturercollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Lecturers</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="lecturercollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Lecturer
                    </button>

                    <table id="lecturerlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>University ID</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#coursecollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Courses</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="coursecollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Course
                    </button>

                    <table id="courselist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Video Link</th>
                                <th>Category</th>
                                <th>Lecturer ID</th>
                                <th>Thumbnail</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#commentcollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Comments</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="commentcollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Comment
                    </button>

                    <table id="commentlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Person ID</th>
                                <th>Description</th>
                                <th>Title</th>
                                <th>Password</th>
                                <th>Course ID</th>
                                <th>Post Date</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

        <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#reportcollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Reports</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="reportcollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Report
                    </button>

                    <table id="reportlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Student ID</th>
                                <th>Description</th>
                                <th>Course ID</th>
                                <th>Report Date</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#ordercollapse" role="button"
                        aria-expanded="false" style=" width:100%; text-align:left;">
                        <b>Orders</b>
                    </a>
                </p>
            </div>

            <div class="collapse" id="ordercollapse">
                <div class="card card-body">

                    <button type="button" class="btn edit" disabled="true">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn remove" disabled="true">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button type="button" name="countrylist" class="btn add">
                        <span class="glyphicon glyphicon-plus"></span> Add New Order
                    </button>

                    <table id="orderlist" class="datatable display" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Student ID</th>
                                <th>Course ID</th>
                                <th>Date</th>

                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
</body>



</html>