<!DOCTYPE html>
<html>
<head>
    <title>Online Course Platform</title>
    {% load static %}

    <link href="{% static 'css/login-signup.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/fontawesome.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/onlinecourseplatform.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery-ui.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/coursepage-script.js' %}" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="{% url 'home' personid %}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if personid == '0' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' personid %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' personid %}">Login</a>
            </li>
            {% else %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-link" href="{% url 'mycourses' personid %}">My Courses</a>

            {% if persontype == 'LEC' %}
                <a class="nav-link" href="{% url 'addcourse' personid %}">Add Course</a>


            {% else %}
            <a class="nav-link" href="{% url 'myfavorites' personid %}">My Favorites</a>
            {% endif %}
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id='reportModal' class="modal">

        <div class="modal-content">
        <div class="modal-header">
                <label id="header" class="modal-label header">Submit Report</label>
                <span class="close">&times;</span>
        </div>
        <form action="{% url 'report' personid course.0 %}"  method="post">
        <div class="form-group row">
                <label id="report_label" class="modal-label"></label>
                <input id="report_description" name="report_description" class="modal-input" type="text" required>
            </div>

            <div class="modal-footer">
                <button id="dataChange" class="btn change" type="submit">Submit</button>
                <button class="btn close" >Close</button>
            </div>
            </form>
        </div>
    </div>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <p>{{ course.1 }}</p>
    </div>
    <div class="d-flex justify-content-center h-100">
        <iframe width="420" height="315" src="{{ course.4 }}" frameborder="0" allowfullscreen></iframe>
        </div>
    <div class="d-flex justify-content-center h-100">
        <div class="description">
        <p>{{ course.2 }}</p>
        </div>
        </div>
        {% if personid == '0' %}
    <div class="d-flex justify-content-center h-100">
            <label>Log in to buy this course!</label>
        </div>
        {% else %}
                {% if persontype == 'STU' %}
    <div class="d-flex justify-content-center h-100">
                <button id="report" class="btn">Report Abuse</button>
        </div>
        <div class="d-flex justify-content-center h-100">
                <a href="{% url 'favorite' personid course.0 %}">Add to Favorite</a>
            </div>

                {% endif %}


            {% if bought == False  %}
                <label>{{ course.3 }}</label>
               <a href="{% url 'buycourse' personid course.0 %}">Buy this course</a>
            {% endif %}
       {% endif %}
         <ul class="list-group" id="courseComments">

             <div class="comment-general">
             {% if comments is defined %}
                   {% for comment in comments %}
                            <div class="comment-specific">
                        <label>User Name {{ comment.0 }}</label>
                         <label>Comment Title {{ comment.2 }}</label>
                        <p>{{comment.1}}</p>
                         <label>Date : {{comment.3}}</label>
                            </div>
                   {% endfor %}
                 </div>
             {% endif %}
    </ul>

        {% if personid != '0' %}
        <div class="d-flex justify-content-center form_container">
        <div class="add-comment">
					<form action="{% url 'add-comment' personid course.0 %}" method="post">

                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input id="title" name="title" type="text"  class="form-control input_user" value="" placeholder="title">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input id="description" name="description"class="form-control input_pass" value="" placeholder="description">
						</div>
							<div class="d-flex justify-content-center mt-3 container">
				 	<button type="submit" name="button" class="btn">Add Comment</button>
                            </div>
                    </form>
        </div>
        </div>
        {% endif %}

        </div>
    </div>
</div>




</body>
</html>

