<!DOCTYPE html>
    <html>
  <head>
	{% load static %}

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
>


	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="{% static 'css/login-signup.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/jquery-ui.css' %}" type="text/css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src="{% static 'js/signup-script.js' %}" type="text/javascript" charset="utf-8"></script>


</head>

    <body>
  <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Welcome {{ firstname }}</h4>
	<p class="text-center">Get started with your account</p>

	<form action="/update-account/" method="post">
		{% csrf_token %}
		<input id="personid" type="text" name="personid" value=" {{ personid }}" style="display: none" />
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="firstname" name="firstname" class="form-control" value=" {{ firstname }} " type="text" required>
    </div> <!-- form-group// -->
		<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="lastname" name="lastname" class="form-control" value="{{ lastname }}" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input id="email" name="email" class="form-control" value="{{ email }}" type="email" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+90</option>
		</select>
    	<input id="phone" name="phone" class="form-control" value="{{ phone }}" type="text" required>
    </div> <!-- form-group// -->

		 <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
    	<input id="university" name="university" class="form-control" value=" {{ university }}" type="text" required>
    </div> <!-- form-group// -->

		<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
    	<input id="bday" name="bday" class="form-control" value=" {{ bday }}" type="text" required>
    </div> <!-- form-group// -->

			<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
    	<input id="address" name="address" class="form-control" value=" {{ address }}" type="text" required>
    </div> <!-- form-group// -->


    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="pw1" name="pw1" class="form-control" placeholder="Old password" type="password" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input id="pw2" name="pw2" class="form-control" placeholder="Repeat password" type="password" required>
    </div> <!-- form-group// -->
    <div class="form-group">
        <button id="update-btn" type="submit" class="btn btn-primary btn-block"> Update Account  </button>

    </div> <!-- form-group// -->
</form>
	<form action="/delete-account/" method="post">
		{% csrf_token %}
		<input id="personid2" type="text" name="personid" value=" {{ personid }}" style="display: none" />
		<button id="delete-btn" type="submit" class="btn btn-primary btn-block"> Delete Account</button>
	</form>


</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->
</body>
    </html>